.container
  %H3 Your current cart:
  %table.col-sm-12
    %tr.col-headers
      %th.item
        Item
      %th.quantity
        Update
      %th.quantity
        Quantity
      %th.price
        Item Price
      %th.price
        Price


    - for item in cart.order_items
      %tr
        %td.item= item.source.name
        %td.quantity
          .form-group
            %select.form-control
              - (item.source.available).times do |n|
                %option.qty #{n+1}
        %td.quantity= item.quantity
        %td.price= number_to_currency item.source.price
        %td.price= number_to_currency (item.source.price*item.quantity)

    %tr
      %td.item.total
        Total:
      %td.quantity
        .update
          Update
      %td.quantity.total
        =cart.order_items.to_a.sum(&:quantity)
      %td.price.total
      %td.price.total= number_to_currency cart.order_items.to_a.sum{|x| x.price*x.quantity}

  %br
  %br
  .checkout-link
    = link_to 'Checkout', cart_address_path
    |
    = link_to 'Empty Cart', cart_destroy_path, method: :post

  .bottom_links
    =link_to 'Home', root_path
    |
    =link_to 'Products', products_path