%p#notice= notice
.container
  %h1 Listing Products
  %br
  %table
    %tbody
      - @products.each do |product|
        %tr
          %td.product_name
            = product.name
          %td.admin_link
            = link_to 'Destroy', admin_product_path(product.permalink), method: :delete, data: { confirm: 'Are you sure?' }
          %td.admin_link
            = link_to 'Edit', edit_admin_product_path(product.permalink)
          %td.admin_link
            = link_to 'View', admin_product_path(product.permalink)

  %br
  %br
  .bottom_links
    = link_to 'New Product', new_admin_product_path
    |
    = link_to 'Customer View', products_path
    |
    =link_to 'Orders', admin_orders_path