%p#notice= notice
.container
  %h1 Khajiit has trees if you have coin.

  .product_box{"ng-controller" => "productsCtrl", "ng-init" => "init(#{@products.to_json})"}
    .col-sm-6.product{"ng-repeat" => "product in products"}
      .panel.panel-default{"ng-if" => "product.available > 0", "ng-controller" => "productCtrl"}
        .panel-heading
          %h2
            {{product.name}}
        .panel-body
          .image_box
            = image_tag "", 'ng-src' => "{{product.formatted_image}}"
          .admin_link {{product.price | currency}}
          .admin_link
            %a{'ng-href'=> "#{products_path}/{{ product.permalink }}"} {{ product.name }}
          .admin_link
            .qty-stuff
              Quantity:
            .form-group
              %select.form-control{"ng-model" => "product.quantity", "ng-change" => "add_product(product)"}
                %option.qty{"ng-repeat" => "number in selectOp() track by $index", "ng-value" => "{{number}}"}
                  {{number}}
  .bottom_links
    = link_to 'To Cart', cart_path