%p#notice= notice
.container
  %h1 Khajiit has trees if you have coin.
  .product_box{"ng-controller" => "ProductsController", "ng-init" => "init(#{@products.to_json})"}
    .col-sm-6.product{"ng-repeat" => "product in products"}
      .panel.panel-default{"ng-controller" => "ProductController"}
        .panel-heading
          %h2
            {{product.name}}
        .panel-body
          .image_box
            = image_tag "", 'ng-src' => "{{ product.formatted_image }}"
          .admin_link {{product.price | currency}}
          .admin_link
            %a{'ng-href'=> "#{products_path}/{{ product.permalink }}"} {{ product.name }}
          .admin_link
            .qty-stuff
              Quantity:
            .out_of_stock{"ng-if" => "product.on_hand == 0"}
              Out of stock
            .form-group{"ng-if" => "product.on_hand != 0"}
              %select.form-control{"ng-model" => "product.quantity", "ng-change" => "add_product(product)"}
                %option.qty{"ng-repeat" => "number in prod_arr", "ng-value" => "{{number}}"}
                  {{number}}
  .bottom_links
    = link_to 'To Cart', cart_path